body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #b0acacb6;
  border-radius: 2px;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff10;
}

.customScrollBar::-webkit-scrollbar {
  width: 10px;
}

.customScrollBar::-webkit-scrollbar-thumb {
  background-color: #b0acacb6;
  border-radius: 2px;
}

.customScrollBar::-webkit-scrollbar-track {
  background-color: #ffffff10;
}

.animated-component {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s, transform 0.3s;
}

.animated-component.is-visible {
  opacity: 1;
  transform: translateY(0);
}
