body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #b0acacb6;
  border-radius: 2px;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff10;
}

.customScrollBar::-webkit-scrollbar {
  width: 4px;
}

.customScrollBar::-webkit-scrollbar-thumb {
  background-color: #c3c1c1b6;
  border-radius: 2px;
}

.customScrollBar::-webkit-scrollbar-track {
  background-color: #ffffff10;
}

.customScrollBarforXaxis::-webkit-scrollbar {
  height: 6px;
}

.customScrollBarforXaxis::-webkit-scrollbar-thumb {
  background-color: #d6d6d66c;
  border-radius: 2px;
}

.customScrollBarforXaxis::-webkit-scrollbar-track {
  background-color: #ffffff10;
}

.slideFromRight {
  animation: fromRight 0.5s ease-in-out;
}

@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toasterAnimation {
  animation: toasterAnimation 5s ease-in-out 1;
}

@keyframes toasterAnimation {
  0% {
    transform: translateY(-7px);
    opacity: 0;
  }
  5% {
    transform: translateY(7px);
    opacity: 50;
  }
  10% {
    transform: translateY(0px);
    opacity: 100;
  }
  80% {
    transform: translateX(0px);
    opacity: 10;
  }
  95% {
    transform: translateX(300px);
    opacity: 0;
  }
  100% {
    transform: translateX(99999px);
    opacity: 0;
  }
}
