body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ededed55;
  border-radius: 2px;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

.customScrollBar::-webkit-scrollbar {
  width: 5px;
}

.customScrollBar::-webkit-scrollbar-thumb {
  background-color: #ecececb6;
  border-radius: 2px;
}

.customScrollBar::-webkit-scrollbar-track {
  background-color: #ffffff10;
}

.customScrollBarforXaxis::-webkit-scrollbar {
  height: 6px;
}

.customScrollBarforXaxis::-webkit-scrollbar-thumb {
  background-color: #d6d6d66c;
  border-radius: 2px;
}

.customScrollBarforXaxis::-webkit-scrollbar-track {
  background-color: #ffffff10;
}

.slideFromRight {
  animation: fromRight 0.2s ease-in-out;
}

@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideUp {
  animation: slideUp 0.4s ease-in-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
